
  
    <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ol>
        <div class="row">		
            <div class="col-lg-12">
                <h1 class="page-header">FAQ
                    <small>Frequently Asked Questions</small>
                </h1>
               
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Can I participate before I join?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                Due to liability issues, unfortunately not. However, you are welcome to come to any of the clubs on shooting days to observe and ask questions.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How do I join?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
								Membership of both SADPA and a Club of your choice is compulsory.<br>
									The following forms need to be completed:
									<ul>
									 <li>SADPA membership application form</li>
									 <li>SADPA indemnity form</li>
									 <li>Club application form</li>
									</ul>
									Contact your club for their application forms and club information, and the
									SADPA office (contact details on website) for SADPA application and
									indemnity forms if you can’t find same on the SADPA website.<br>
									Please do not expect SADPA and club officials to process last minute
									applications at short notice in order to attend NSO’s etc. Allow at least a
									week for new membership to be processed.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How much does it cost?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                SADPA Fees are R400 per year (as at Jan 2015).<br>
								Club fees vary by quite a margin as there are different arrangements in place.<br>
								Some clubs are privately owned, while others are being rented from third
								parties.<br> Benefits to members also vary somewhat (at some clubs, members
								don’t pay for monthly shoots).<br> Fees typically range from R300 to R1,300.
								Shoot fees vary from R40 to about R100 for normal monthly shoots, while
								some clubs let their members shoot for free at the home club. <br>Leagues cost
								R80 (as at Jan 2012), and Nationals and Africa Champs range from R300-
								R500.<br>
								Safety (Range) Officers usually shoot for free.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How will SADPA notify me of important news and events?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                The SADPA Website at www.sadpa.co.za is used extensively to disseminate
								information. Shoot and results notifications are distributed via SADPA_Group
								at YahooGroups.com. Please see your membership letter for instructions to
								join or visit http://sports.groups.yahoo.com/group/sadpa_group/
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Can I start shooting immediately once I’ve joined?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Due to the inherent dangers associated with firearms, all members have to undergo an NSO before they can participate in SADPA events. This is not negotiable.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What is the NSO about and how often are these held?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                The NSO (New Shooter Orientation) is an induction through which we ensure
								all members are aware of safety aspects, range rules and commands and the
								most basic SADPA rules.<br>This is not a substitute for familiarising yourself
								with the rules governing the sport.<br>NSO’s are presented periodically with
								roughly one every six weeks by one of the Gauteng clubs.<br>Outlying clubs will
								do these as the need arise.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How do I know when shoots are presented and by whom?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Please see the calendar page on the SADPA website. Notifications are also circulated via SADPA_group on YahooGroups, usually 5-15 days preceeding the shoot. 
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Can I shoot at a club other than the one I belong to?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                Yes. Once you’re a paid up member and have completed the New Shooter
								Orientation, all SADPA shoots are open to all members of SADPA.<br>Please note
								that some clubs require pre-registration for certain shoots and costs vary from
								club to club and for members and non-members of the particular club.<br>This
								will be communicated via SADPA Group on YahooGroups.
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What type of firearm(s) do I need?</a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                You’ll need a pistol of minimum 9mmP calibre or .38 or larger Revolver.<br>
								There are limitations with regards to the size and weight of firearms allowed –
								see the rulebook for more details.<br>
								Firearms smaller than 9mmP/.38 e.g. 9mm Short, and 5-Shot Revolvers are
								not really suitable for competition in IDPA. These are classified as Back-up
								Guns, and while some clubs might allow you to shoot those from time to
								time, it’s advisable to obtain the right firearm.
                            </div>
                        </div>
                    </div>
					 <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What other equipment do I need?</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
							The new shooter page on the website has a comprehensive checklist, but
							before you spend a fortune on paraphernalia you may or may not use, make
							sure to visit a club to see what members typically use.<br>The non-negotiable
							items are: Firearm, magazines/speed loaders (at least two, but three is
							better), strong-side holster, magazine pouches, eye protection, ear protection
							and a concealment garment (typically a reporters jacket or similar, but a loose
							shirt is acceptable on day one). 
                            </div>
                        </div>
                    </div>
					 <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">How much ammunition do I need?</a>
                            </h4>
                        </div>
                        <div id="collapseTwelve" class="panel-collapse collapse">
                            <div class="panel-body">
							It depends from shoot to shoot. The NSO will require about 120-150 rounds,
							monthly club shoots anywhere between 50 and 100 rounds, leagues from 80-
							160 rounds and the Champs can run up to 300 rounds.
                            </div>
                        </div>
                    </div>
					 <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Do SADPA clubs sell firearms and ammunition?</a>
                            </h4>
                        </div>
                        <div id="collapseThirteen" class="panel-collapse collapse">
                            <div class="panel-body">
							No. But SADPA’s friendly sponsors do. Please have a look at our sponsors
							page on the website, or ask the club’s contact person if he can recommend
							someone.
                            </div>
                        </div>
                    </div>
					 <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse14">Can I use club facilities on my own for practice?</a>
                            </h4>
                        </div>
                        <div id="collapse14" class="panel-collapse collapse">
                            <div class="panel-body">It varies from club to club. Contact your club administrator for more detail.
                            </div>
                        </div>
                    </div>
					 <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse15">Will SADPA do my motivation for firearms license applications for me?</a>
                            </h4>
                        </div>
                        <div id="collapse15" class="panel-collapse collapse">
                            <div class="panel-body">
							No, SADPA is not a legal firm. SADPA will however provide you with a
							membership letter stating that you’re a member of the organisation and the
							club you’ve joined.<br>SADPA can also issue an endorsement confirming the
							suitability of the firearm you intend to apply for a license for (obviously
							provided the firearm complies with all the specifications as set out in the rule
							book).
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
    
    