
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Gallery                   
                </h1>                
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#!home" class="list-group-item">Home</a>
                    <a href="about.html" class="list-group-item">Shoot 1</a>
                    <a href="services.html" class="list-group-item">Shoot 2</a>
                    <a href="contact.html" class="list-group-item">Shoot 3</a>
                    <a href="portfolio-1-col.html" class="list-group-item">Shoot 4</a>
                    <a href="portfolio-2-col.html" class="list-group-item">Some Event</a>
                    <a href="portfolio-3-col.html" class="list-group-item">Shoot 5</a>
                    <a href="portfolio-4-col.html" class="list-group-item">Shoot 6</a>                  
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
                <h2>Gallery Title</h2>               
            </div>
		</div>