<!-- Page Content -->

<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Centurion Defensive Pistol Club</h1>
    </div>

    <content-link
            heading="Register for a shoot"
            heading_icon="fa-check"
            content="Click here to register for the next IDPA match hosted by CDPC."
            goto="register"
            img-src="./img/register.jpg">
    </content-link>

    <content-link
            heading="Information"
            heading_icon="fa-info"
            content="New shooters information about CDPC and IDPA as a sport in South Africa."
            goto="faq"
            img-src="./img/info.jpg">
    </content-link>

    <content-link
            heading="Match results"
            heading_icon="fa-trophy"
            content="Find the latest CDPC hosted match scores and results here."
            goto="results"
            img-src="./img/results.jpg">
    </content-link>

    <!-- /.row -->
    <calendar-elem year="2020"></calendar-elem>
    <div class="col-md-6">
        <h2 class="page-header">News</h2>
        <p><b>Membership fee for 2020 is now R400 and payable by 29 February</b><br>
        We now have family membership at R600, see the Members page for more details.</b></p>
        <p>Have you liked our new Facebook page yet ? <br>
        Join the page to see the latest info on upcoming matches.<br>
        <a href="https://www.facebook.com/cdpcshooting" target="_blank">CDPC Facebook</a> </p>
    </div>
</div>
