<div class="match" ng-app="cdpc" ng-controller="MatchController">

	<div class="blockerDiv"></div>
	<div class="heading">
		<h2>CDPC August Clubshoot</h2>
		<label>Name</label> <label>Division</label> <label>Classification</label>
		<label>Final Score</label>
	</div>
	<div id="matchTable" class="matchTable">


		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>1
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>2
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>3
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>4
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>6
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>7
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>8
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>9
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>10
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5
			</label>
		</div>


	</div>
</div>