<div class="match" ng-app="cdpc" ng-controller="MatchController">

	<div class="heading">
		<h2>CDPC August ClubShoot</h2>
		<label>Name</label> <label>Division</label> <label>Classification</label> <label>TotalScore</label>
	</div>
	<div id="matchTable" class="matchTable">


		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		<div class="row">
			<label>Francois Bester</label> <label>SSP</label> <label>SS</label> <label>113.5 seconds</label>
		</div>
		
		
	</div>
</div>