<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Members</h1>
            <ol class="breadcrumb">
                <li><a href="/#!/home">Home</a>
                </li>
                <li class="active">Members</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2>Renewal</h2>
            <div class="panel-body">
                Membership of IDPA, SADPA and a Club of your choice is compulsory.<br>
                The following needs to be completed:
                <ul>
                    <li><a href="https://www.idpa.com/membership/" target="_blank">IDPA membership</a> - $40</li>
                    <li><a href="https://sadpa.co.za/documents/sadpa_renew_member.pdf" target="_blank">SADPA membership renewal form</a>, proof of IDPA membership (<a href="https://www.idpa.com/my-account/#details" target="_blank">bottom of account page</a>) and proof of payment to SADPA (R265), emailed to <a href="mailto:enquiry@sadpa.co.za?subject=New Member Registration">SADPA</a>)</li>
                    <li><a href="/documents/CDPC_Renewal_2019.doc">CDPC renewal form</a> and proof of payment (R400) emailed to <a href="mailto:admin@cdpc.co.za?subject=Renewal">admin@cdpc.co.za</a></li>
                    <li><b style="color:darkorange">New</b> - Family membership fee of R600. This includes two adults and children under the age of 18</li>
                </ul>
            </div>
            <br>
            <h2>New Members</h2>
            <div class="panel-body">
                Membership of IDPA, SADPA and a Club of your choice is compulsory.<br>
                The following needs to be completed:
                <ul>
                    <li><a href="https://www.idpa.com/membership/" target="_blank">IDPA membership</a> - $40</li>
                    <li><a href="https://sadpa.co.za/documents/sadpa_new_member.pdf" target="_blank">SADPA membership application form</a>, proof of IDPA membership (<a href="https://www.idpa.com/my-account/#details" target="_blank">bottom of account page</a>) and proof of payment to SADPA (R265), emailed to <a href="mailto:enquiry@sadpa.co.za?subject=New Member Registration">SADPA</a>)</li>
                    <li><a href="/documents/Form_CDPC_Membership.doc">CDPC application form</a> and proof of payment (R550) emailed to <a href="mailto:admin@cdpc.co.za?subject=Renewal">admin@cdpc.co.za</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.row -->


</div>