
.stage .sheet {
	border: 1px solid grey;
	width: 700px;
	height: 800px;
	border-radius: 10px;
	padding: 5px 0px 0px 0px;
}

.stage .headings {
	text-align: center;
	height: 10%;
	max-height: 10%;
}

.stage .headings div:first-child {
	width: 30%;
	float: left;
	margin-right: 20px;
}

.stage .headings div:last-child {
	width: auto;
	float: left;
	text-align: left;
}

.stage .headings h2 {
	margin: 0 0px 10px 0;
}

.stage .scoring {
	border: 1px solid grey;
	height: 90%;
	float: left;
	border-left: 0;
	border-bottom: 0;
}

.stage .scoring div:last-child {
	border: 0;
}

.stage .targets {
	width: 25%;
}

.stage .pointsDown {
	width: 25%;
}

.stage .string {
	width: 30%;
}

.stage .time {
	width: 20%;
	border-right: 0;
}

.stage .column {
	width: 100%;
	height: 6%;
	border-bottom: 1px solid grey;
	padding-left: 4px;
	text-align: center;
	overflow: hidden;
}

.stage .colHeader.column {
	text-align: center;
	height: 4%;
	background-color: lavender;
	font-size: 13pt;
}

.stage .column input {
	border: 0;
	font-size: 15pt;
	text-align: center;
	outline: none;
	cursor: pointer;
}

.stage .pointsDown .column  input {
	width: 30%;
}

.stage .time .column  input {
	width: 80%;
}

.stage .column label {
	font-size: 15pt;
	text-align: center;
}

.stage .stageScore{
	  margin-top: 5px;
}

.stage .stageScore div:first-child {
	float: left;
	width: 80%;
	text-align: center;
}

.stage .stageScore div:last-child {
	float: left;
	width: 20%;
	text-align: center;
}

.stage .stageScore label{
	font-size: 15pt;
}